@extend('templates/layouts/auth-main.html')
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <!-- <div><a class="logo" href="index.html"><img class="img-fluid for-light"
                                src="../assets/images/logo/logo.png" alt="looginpage"><img class="img-fluid for-dark"
                                src="../assets/images/logo/logo_dark.png" alt="looginpage"></a></div> -->
                    <div class="login-main">
                        <form class="theme-form" method="POST" action="/admin/register/store" enctype="multipart/form-data">
                            <h4>Create your account</h4>
                            <p>Enter your personal details to create account</p>
                            <div class="form-group">
                                <div class="row g-2">

                                    <div class="col-6">
                                        <label class="col-form-label pt-0">Name</label>
                                        <input class="form-control" type="text" name="name" value="" required=""
                                            placeholder="name">
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label pt-0">Phone</label>
                                        <input class="form-control" type="text" phone="first_name" value=""
                                            placeholder="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input class="form-control" type="email" required="" name="email" value=""
                                    placeholder="Test@gmail.com">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="login[password]" required=""
                                        placeholder="*********">
                                    <div class="show-hide"><span class="show"></span></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Image</label>
                                <input class="form-control" name="image" type="file" aria-label="file example">
                            </div>

                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block w-100" type="submit">Create
                                    Account</button>
                            </div>

                            <p class="mt-4 mb-0">Already have an account?<a class="ms-2" href="/admin/login">Sign
                                    in</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>